.form-container {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  background: #f9f9f9;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button,
.google-btn {
  margin: 20px;
  padding: 10px 20px;
  height: 40px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  margin-top: 1rem;
  color: #d00;
}

.nav {
  text-align: center;
  margin-top: 1rem;
}
